<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="80"
    alt="Ask Genie"
    src="assets/images/genie-lamp.png"
  />
  <h1>Ask Genie</h1>
    <div class="spacer"></div>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-medium">

    <svg id="rocket" xmlns="http://www.w3.org/2000/svg" width="101.678" height="101.678" viewBox="0 0 101.678 101.678">
      <title>Rocket Ship</title>
      <g id="Group_83" data-name="Group 83" transform="translate(-141 -696)">
        <circle id="Ellipse_8" data-name="Ellipse 8" cx="50.839" cy="50.839" r="50.839" transform="translate(141 696)" fill="#dd0031"/>
      </g>
      <image href="assets/images/genie.png" x="0" y="0" height="90px" width="90px"/>
    </svg>

    <span> Type here ..</span>

    <svg id="rocket-smoke" xmlns="http://www.w3.org/2000/svg" width="516.119" height="1083.632" viewBox="0 0 516.119 1083.632">
      <title>Rocket Ship Smoke</title>
      <path id="Path_40" data-name="Path 40" d="M644.6,141S143.02,215.537,147.049,870.207s342.774,201.755,342.774,201.755S404.659,847.213,388.815,762.2c-27.116-145.51-11.551-384.124,271.9-609.1C671.15,139.365,644.6,141,644.6,141Z" transform="translate(-147.025 -140.939)" fill="#f5f5f5"/>
    </svg>
      <form>
      <input type="text" name="searchQuery"  [(ngModel)]="searchQuery" (keyup)="handleKeyUp($event)"><i class="material-icons">search</i>
      </form>
  </div>

  <div>
    <textarea id="w3review" name="searchResult" [(ngModel)]="searchResult" rows="30" cols="80">
      At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
      </textarea>
  </div>

<router-outlet></router-outlet>
